.navigationBox {
  background-color: black;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-weight: 700;
  color: aliceblue;
  padding: 20px;
  font-size: 32px;
}

.link {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

.activeLink {
  color: blueviolet;
}
